// resets

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
  list-style: none;
}

/* removes underline for links */
a {
    text-decoration: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    font-size: 62.5%; // 1rem = 10px
  }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

// font-face

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@300;400&display=swap');


// variables

$body-font: 'Open Sans', sans-serif;
$header-font: 'Kaushan Script', cursive;

$header1: 2.5rem;
$main-text: 0.7rem;
$link-text: 0.6rem;

// mixins

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@mixin grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@mixin sm {
  @media only screen and (max-width: 420px) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: 875px) {
    @content;
  }
}

h1 {
  font-size: $header1;
  font-family: $header-font;
}

p,
input,
button {
  font-size: $main-text;
  font-family: $body-font;
}

a {
  font-family: $body-font;
  font-size: 0.6rem;
}

.hero__image {
  width: 350px;
}

.cta__image {
  width: 120px;
}

body {
  background: rgb(247, 247, 247);
}

.container {
  display: grid;
  min-height: 100vh;
  max-width: 60rem;
  margin: auto;
}

.hero__section {
  @include flex(row, space-around, center);
  min-height: 90vh;
  margin: auto;
}

.image__container {
  @include md {
    display: none;
  }
}

.cta__container {
  @include flex(column, center, center);
  gap: 0.4rem;
  min-height: 70vh;
  width: 20rem;
}

.insta__login__container {
  @include flex(column, center, center);
  gap: 2rem;
  width: 100%;
  padding: 1rem 0rem;
  border: 1px solid rgba(202,202,202);
  background: rgb(245, 245, 245);

  @include sm {
    border: none;
  }
}

.login__form {
  @include flex(column, center, center);
  width: 100%;
  gap: 0.2rem;

  &__input {
    width: 80%;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    border: 1px solid rgb(202, 202, 202);
    background: rgb(224, 224, 224);

    &:focus {
      border: 1px solid rgb(129, 129, 129);
      outline: none;
    }
  }

  &__button {
    width: 80%;
    background: lightskyblue;
    border: none;
    border-radius: 5px;
    padding: 0.3rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-family: $body-font;
    margin-top: 0.5rem;
    cursor: pointer;
  }
}

.text__wrapper {
  @include flex(row, space-between, center);
  width: 80%;

  hr {
    width: 90px;
    border: none;
    height: 1px;
    background: lightgrey;
  }

  p {
    color: rgb(129,129,129);
  }
}

.facebook__login__container {
  @include flex(column, space-between, center);
  gap: 1rem;

  &__text {
    @include flex(row, space-around, center);
    color: rgb(24, 77, 173);

    i {
      padding-right: 0.5rem;
    }

    p {
      font-size: 0.7rem;
      font-weight: 700;
    }
  }

  a {
    color: rgb(24,77,173);
    font-size: $link-text;
  }
}

.signUp__wrapper {
  @include flex(row, center, center);
  width: 100%;
  background:rgb(245, 245, 245);
  padding-block: 1rem;
  border: 1px solid rgb(202, 202, 202);

  @include sm {
    border: none;
  }

  &__text {
    color: rgb(75, 147, 240);
    font-family: $main-text;
    font-size: $main-text;
    font-weight: 700;
    padding-left: 0.5rem;
  }
}

.cta__text {
  padding-block: 1rem;
}

.download__wrapper {
  @include flex(row, space-around, center);
  width: 80%;
  cursor: pointer;
}

.footer__container {
  width: 90%;
  margin: 0 auto;
  @include flex(column,center ,center);
  gap: 0.4rem;
  align-self: baseline;
  height: 100%;
  place-content: bottom;

  & * {
    color: rgb(129, 129, 129);
  }

  &__company__links {
    @include flex(row,space-around,center);
    gap: 1.4rem;
    
    @include md {
      @include flex(row, center, center);
      flex-wrap: wrap;
      row-gap: 0.5rem;
    }
  }

  &__category__links {
    @include flex(row, center, center);
    gap: 1rem;

    @include md {
      @include flex(row, center, center);
      flex-wrap: wrap;
      row-gap: 0.5rem;
    }
  }

  &__copyright {
    @include flex(row, center, center);
    font-size: $link-text;
    gap: 1rem;
    padding-block: 1rem;
  }
}